<div class="sidenav">
  <div class="logo-container">
    <button class="logo">PSI</button>
    <div class="logo-text">PSI GameStore</div>
  </div>
  <ul class="sidebar-nav">
    <li class="sidenav-nav-item">
      <a class="sidenav-nav-link" Link="/dashboard"
        routerLinkActive="active">
        <i class="sidenav-link-icon"></i>
        <span class="sidenav-link-text">Dashboard</span>
      </a>
    </li>
    <li class="sidenav-nav-item">
      <a class="sidenav-nav-link" Link="/perfil"
        routerLinkActive="active">
        <i class="sidenav-link-icon"></i>
        <span class="sidenav-link-text">Perfil</span>
      </a>
    </li>
  </ul>
</div>
