.wrapper {
	margin-left: 22rem;
	margin-top: 5rem;
	margin-right: 2rem;
}

.edit_profile {
	width: 100%;
	font-size: 45px;
	color: #fff;
	padding: 2rem;
	box-sizing: border-box;
	border-radius: 1rem;
	box-shadow: 1rem 0.061rem 1rem 0.065rem #e1e5eb;
	margin-bottom: 2rem;
	background-image: url("../../assets/fixe.jpg");
	background-position: center;
	background-size: auto;
}

.card {
	background-color: #fff;
	max-width: 360px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	border-radius: 1rem;
	box-shadow: 0px 1rem 1.5rem rgba(0, 0, 0, 0.5);
	position: relative;
	margin: auto;
}

.card .banner {
	background-image: url("https://images.unsplash.com/photo-1545703549-7bdb1d01b734?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 11rem;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	box-sizing: border-box;
}

.card .banner img {
	/* background-image: url("https://www.echigo-tsumari.jp/assets/img/global/no_artist.png"); */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 10rem;
	height: 10rem;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
	border-radius: 0%;
	transform: translateY(50%);
	transition: transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.card .menu {
	width: 100%;
	height: 5.5rem;
	padding: 1rem;
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	position: relative;
	box-sizing: border-box;
}

.card .menu .opener {
	width: 2.5rem;
	height: 2.5rem;
	position: relative;
	border-radius: 50%;
	transition: background-color 100ms ease-in-out;
}

.card .menu .opener:hover {
	background-color: #f2f2f2;
}

.card .menu .opener span {
	background-color: #404040;
	width: 0.4rem;
	height: 0.4rem;
	position: absolute;
	top: 0;
	left: calc(50% - 0.2rem);
	border-radius: 50%;
}

.card .menu .opener span:nth-child(1) {
	top: 0.45rem;
}

.card .menu .opener span:nth-child(2) {
	top: 1.05rem;
}

.card .menu .opener span:nth-child(3) {
	top: 1.65rem;
}

/* .card h2.name {
	text-align: center;
	padding: 0 2rem 0.5rem;
	margin: 0;
  } */
.card .title {
	color: #a0a0a0;
	font-size: 0.85rem;
	text-align: center;
	padding: 0 2rem 1.2rem;
}

.card .actions {
	padding: 0 2rem 1.2rem;
	display: flex;
	flex-direction: column;
	order: 99;
}

.card .actions .follow-info {
	padding: 0 0 1rem;
	display: flex;
}

.card .actions .follow-info h2 {
	text-align: center;
	width: 50%;
	margin: 0;
	box-sizing: border-box;
}

.card .actions .follow-info h2 a {
	text-decoration: none;
	padding: 0.8rem;
	display: flex;
	flex-direction: column;
	border-radius: 0.8rem;
	transition: background-color 100ms ease-in-out;
}

.card .actions .follow-info h2 a span {
	color: #1c9eff;
	font-weight: bold;
	transform-origin: bottom;
	transition: color 100ms ease-in-out;
}

.card .actions .follow-info h2 a small {
	color: #afafaf;
	font-size: 0.85rem;
	font-weight: normal;
}

.card .actions .follow-info h2 a:hover {
	background-color: #f2f2f2;
}

.card .actions .follow-info h2 a:hover span {
	color: #007ad6;
}

.card .actions .follow-btn button {
	color: inherit;
	font: inherit;
	font-weight: bold;
	background-color: #ffd01a;
	width: 100%;
	border: none;
	padding: 1rem;
	outline: none;
	box-sizing: border-box;
	border-radius: 1.5rem/50%;
	transition: background-color 100ms ease-in-out,
		transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.card .actions .follow-btn button:hover {
	background-color: #efb10a;
	transform: scale(1.1);
}

.card .actions .follow-btn button:active {
	background-color: #e8a200;
	transform: scale(1);
}

.card .desc {
	text-align: center;
	padding: 0 2rem 2.5rem;
	order: 100;
}

.image {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.profile_pic {
	position: relative;
	margin: auto;
	width: 250px;
	height: 250px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	/* background-image: url("https://www.echigo-tsumari.jp/assets/img/global/no_artist.png"); */
}

.username_bar {
	font-size: 15px;
	position: relative;
	margin: auto;
	text-align: center;
	margin-top: 1rem;
}

.username_bar p {
	margin-bottom: -0.5em;
	margin-top: -1em;
	
}

.username_bar input {
	font-size: 20px;
	background: transparent;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	outline: none;
	margin-bottom: 20px;
	color: #40414a;
	text-align: center;
}

.update_button {
	position: relative;
	margin: auto;
	/* width: 115px; */
	/* width: 10%; */
	margin-top: 1rem;
	margin-bottom: 1rem;
	text-align: center;
}

.update_button button{
	color: inherit;
	font: inherit;
	font-weight: bold;
	background-color: #ffd01a;
	width: 100%;
	border: none;
	padding: 1rem;
	outline: none;
	box-sizing: border-box;
	border-radius: 1.5rem/50%;
}

.all_avatars {
	position: relative;
	margin: auto;
	margin-top: 3rem;
	width: 95%;
	height: 15.6rem;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
	border-radius: 1rem;
	overflow: auto;
	white-space: nowrap;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow-x: auto;
	background-color: #263238;
	display: flex;
	flex-direction: row;
	overflow-x: auto;
}

li {
	flex: 0 0 auto;
	float: left;
}

li img {
	display: block;
	color: white;
	text-align: center;
	padding: 20px;
	text-decoration: none;
	cursor: pointer;
}

li img:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

img {
	height: 15rem;
}

::-webkit-scrollbar {
	width: 5px;
	height: 0.6rem;

  }
  
  ::-webkit-scrollbar-track {
	background: #f1f1f1; 
	border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
	background: #888; 
	border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
	background: #555; 
  }