<app-sidebar></app-sidebar>
<div class="wrapper">
  <div class="edit_profile">Edit Profile</div>

  <div class="card">
    <div class="banner"><img class="profile-pic" src="{{ avatar }}" /></div>
    <div class="menu"></div>

    <div class="username_bar">
      <input id="username" type="text" [(ngModel)]="displayName" />
      <p *ngIf="success && !error">Profile updated!</p>
      <p *ngIf="error">{{ error }}</p>
    </div>

    <div class="update_button">
      <button (click)="updateProfile()">Update Profile</button>
    </div>
  </div>

  <div class="all_avatars">
    <ul>
      <li *ngFor="let a of avatarList" (click)="setAvatar(a)">
        <img [src]="a" />
      </li>
    </ul>
  </div>
</div>
