.wrapper {
  margin-left: 22rem;
  margin-top: 5rem;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
}

.profile {
  width: 100%;
  font-size: 45px;
  color: #fff;
  padding: 2rem;
  box-sizing: border-box;
  border-radius: 1rem;
  box-shadow: 1rem 0.061rem 1rem 0.065rem #e1e5eb;
  margin-bottom: 2rem;
  background-image: url("../../assets/fixe.jpg");
  background-position: center;
  background-size: auto;
}

input{
	border-radius: 12px;
	padding: 6px;
	border: 1px solid #333;
}

form{
	display: flex;
	gap: 20px;
	justify-content: center;
}

button{
	border-radius: 12px;
	padding: 6px 12px;
	border: none;
	background-color: #059669;
	color: white;
	box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}
