<app-sidebar></app-sidebar>
<div class="wrapper">
  <div class="profile">Search</div>
  <p>Pesquise por jogos</p>
  <form>
    <input
      #title
      placeholder="Nome do jogo..."
      type="text"
      name="query"
      [(ngModel)]="query"
      autocomplete="off"
      (input)="searchGame(title.value)"
    />
  </form>
  <ng-container *ngIf="searchResults.length > 0; else noResultsBlock">
    <div class="card-container" style="flex-direction: row;">
      <app-game-card *ngFor="let game of searchResults" [game]="game"></app-game-card>
    </div>
  </ng-container>
  <ng-template #noResultsBlock>
    <div class="card-container" style="flex-direction: row;">
      <app-game-card *ngFor="let game of searchResults" [game]="game"></app-game-card>
    </div>
    <div class="message" *ngIf="errorMessage">{{ errorMessage }}</div>
  </ng-template>
</div>
