<app-sidebar></app-sidebar>
<div>
  <h2>Pesquisa</h2>
  <p>Pesquise por jogos</p>
  <input
    #title
    placeholder="Nome do jogo..."
    type="text"
    name="query"
    [(ngModel)]="query"
    autocomplete="off"
    (input)="searchGame(title.value)"
  />
  <div *ngIf="title.value.length >= 2; else elseBlock">
    <ul *ngFor="let game of searchResults">
      {{
        game.name
      }}
    </ul>
  </div>
  <ng-template #elseBlock></ng-template>
  <div *ngIf="searchResults.length === 0">{{ errorMessage }}</div>
</div>
