<app-sidebar></app-sidebar>
<div>
  <h2>Pesquisa</h2>
  <p>Pesquise por jogos</p>
  <input
    #title
    placeholder="Nome do jogo..."
    type="text"
    name="query"
    [(ngModel)]="query"
    autocomplete="off"
    (input)="searchGame(title.value)"
  />
  <div *ngIf="title.value.length <= 2; else elseBlock">
    {{ clearSearchResults() }}
  </div>
  <ng-template #elseBlock>
    <ul *ngFor="let game of searchResults">
      {{
        game.name
      }}
    </ul>
  </ng-template>
  <div *ngIf="searchResults.length === 0">
    <div *ngIf="title.value.length > 2;else elseMessage">
      {{ errorMessage }}
    </div>
    <ng-template #elseMessage></ng-template>
  </div>
</div>
