<app-sidebar></app-sidebar>
<div class="wrapper">
  <div class="wrapper">
    <div class="item-details">
      <div class="item-header">
        <img src="placeholder-image-url" alt="Item image">
        <div class="item-info">
          <h1>Item Name</h1>
          <p>Item Type</p>
          <p>Item Platform</p>
          <p>Item Language</p>
          <p>Item Price</p>
          <p>Item General Classification</p>
          <p>Item Evaluations</p>
        </div>
      </div>
      <div class="item-description">
        <h2>Description</h2>
        <p>Item Description</p>
      </div>
      <div class="item-images">
        <img src="placeholder-image-url" alt="Item image">
        <img src="placeholder-image-url" alt="Item image">
      </div>
      <div class="item-video">
        <h2>Trailer</h2>
        <iframe src="placeholder-video-url"></iframe>
      </div>
    </div>
  </div>  
</div>

