.wrapper {
  position: relative;
  height: 100%;
  margin-left: 20rem;
  overflow: auto;
}

.wrapper::before {
  content: "";
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgba(38, 50, 56, 0.8);
  position: relative;
}

.center {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content {
  display: flex;
  background-color: rgba(38, 50, 56, 0.4);
  height: 450px;
  width: 100%;
}

.left {
  flex: 1; /* this will make .left occupy 1/2 of the available space */
}

.right {
  flex: 1; /* this will make .right occupy 1/2 of the available space */
  width: 100%;
}

.game-name h1{
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 1rem;
}

.big-screen {
  position: relative;
  width: 500px;
  height: 250px;
  margin-bottom: 0.25rem;
  background-color:black;
}

.content-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

img, video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.arrow-button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.arrow-button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.fa-chevron-right {
  color: black;
  font-size: 18px;
  transform: translateX(2px);
}

.thumbnail-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 0.4rem;
}

.thumbnail-container img {
  width: 7rem;
  height: 4.5rem;
  margin-right: 0.25rem;
  cursor: pointer;
  border: 2px solid white;
  display: block;
}

.thumbnail-container img.active {
  border: 6px solid white;
}

.image {
  margin-left: 1rem;
  margin-right: 0;
  width: 94%;
  height: 38%;
}

.video-container {
  position: relative;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-button i {
  font-size: 1.5rem;
}

.description {
  color: #fff;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 0.90rem;
  margin-top: 0.25rem;
  margin-left: 1rem;
}

.info-container {
  margin-left: 1rem;
  display: flex;
  margin-bottom: 0.5rem;
}

.info {
  margin-left: 0.5rem;
  color: #8EBBD1;
  font-size: 0.90rem;
}

.header {
  color: silver;
  font-size: 0.90rem;
}

.lists{
  width: 100%;
  height: 90px;
  background-color: rgba(38, 50, 56, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: auto;
}

.wishlist {
  margin-left: 10px;
}

.wishlist button{
  height: 40px;
  width: 120px;
  background-color: rgb(50, 105, 133, 0.7);
  border: none;
  border-radius: 5px;
}

.wishlist span{
  color: white;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-lists{
  margin-bottom: 10px;
  margin-left: 10px;
  color: silver;
  font-size: 0.90rem;
  font-weight: 700;
}

.wishlist button:hover{
  background-color: #66c0f4;
}

.space{
  height:20px;
}

.buy-card{
  background-color: #5A7685;
  width: 70%;
  height: 60px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  position: absolute;
}

.buy-card span{
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  display: flex;
}

.title-buy, .item-name{
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  display: flex;
  margin-right: 5px;
}

.title-buy {
  margin-left: 1rem;
}

.buy-button {
  margin-left: 26rem;
  display: flex;
  align-items: center;
  padding: 0;
  position: absolute;
}

.buy-price {
  font-size: 0.80rem;
  background-color: #000000;
  color: #fff;
  border-radius: 5px 0 0 5px;
  height: 40px;
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.5rem;
  font-weight: 500;
  margin: 0;
}

.add-to-cart-btn button {
  border: none;
  border-radius: 0 5px 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 12px;
  width: 100%;
  height: 40px;
  padding: 0.5rem;
  background-color: #263238;
  color: #fff;
  font-size: 0.90rem;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

.add-to-cart-btn button:hover {
  background-color: #66c0f4;
}

p {
  margin: 0;
}


.carousel {
  width: 100%;
  height: 100%;
  position: relative;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}

.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slide > iframe {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 2rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, .5);
  cursor: pointer;
  border-radius: .25rem;
  padding: 0 .5rem;
  background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus {
  outline: 1px solid black;
}

.carousel-button.prev {
  left: 1rem;
}

.carousel-button.next {
  right: 1rem;
}

.evaluations-header h2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3.5rem;
  color: #fff;
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.evaluations-stars {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.star-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  direction: rtl;
}

.s1:hover ~ a {
  color: gold;
}
.s2:hover ~ a {
  color: gold;
}
.s3:hover ~ a {
  color: gold;
}
.s4:hover ~ a {
  color: gold;
}
.s5:hover ~ a {
  color: gold;
}

.rating-label {
  font-weight: bold;
  color: silver;
  font-size: 1.25rem;
}

.selected-rating {
  font-weight: bold;
  margin-left: 0.5rem;
  font-size: 1.25rem;
  color: gold;
}

.commentary {
  position: relative;
}

.commentary textarea {
  width: 100%;
  height: 8rem;
  margin-bottom: 1rem;
  resize: vertical;
  border-radius: 0.25rem;
  background-color: aliceblue;
}

.comment-button {
  position: absolute;
  bottom: 30px;
  right: 10px;
  padding: 0.5rem 1rem;
  color: white;
  cursor: pointer;
  background-color: rgb(50, 105, 133, 0.7);
  border: none;
  border-radius: 5px;
}

.comment-button:hover {
  background-color: #66c0f4;
}

.rating-group {
  display: inline-flex;
  margin-right: 0.5rem;
}

/* make hover effect work properly in IE */
.rating__icon {
  pointer-events: none;
}

/* hide radio inputs */
.rating__input {
 position: absolute !important;
 left: -9999px !important;
}

/* hide 'none' input from screenreaders */
.rating__input--none {
  display: none
}

/* set icon padding and size */
.rating__label {
  cursor: pointer;
  padding: 0 0.1em;
  font-size: 1rem;
}

/* set default star color */
.rating__icon--star {
  color: orange;
}

/* if any input is checked, make its following siblings grey */
.rating__input:checked ~ .rating__label .rating__icon--star {
  color: #ddd;
}

/* make all stars orange on rating group hover */
.rating-group:hover .rating__label .rating__icon--star {
  color: orange;
}

/* make hovered input's following siblings grey on hover */
.rating__input:hover ~ .rating__label .rating__icon--star {
  color: #ddd;
}
