<app-sidebar></app-sidebar>

<div class="wrapper" style="--bg-image: url('{{ game.background_image }}')">
  <div class="main-container">
    <div class="center">
      <div class="game-name">
        <h1>{{ game.name }}</h1>
      </div>
      <div class="content">
        <div class="left">
          <div class="big-screen">
            <div class="content-container">
              <div class="carousel" data-carousel>
                <button
                  class="carousel-button prev"
                  data-carousel-button="prev"
                >
                  &#8656;
                </button>
                <button
                  class="carousel-button next"
                  data-carousel-button="next"
                >
                  &#8658;
                </button>
                <ul data-slides>
                  <li class="slide" data-active>
                    <iframe
                      width="500"
                      height="250"
                      [src]="safeVideoUrl"
                      title="YouTube video player"
                      frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                      allowfullscreen
                    ></iframe>
                  </li>
                  <li class="slide">
                    <img [src]="game.background_image" alt="Nature Image #1" />
                  </li>
                  <li class="slide">
                    <img [src]="game.image1" alt="Nature Image #2" />
                  </li>
                  <li class="slide">
                    <img [src]="game.image2" alt="Nature Image #3" />
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="thumbnail-container">
            <div class="video-container">
              <img
                class="thumbnail"
                [src]="game.main_image"
                alt="Game Trailer"
              />
              <button class="play-button"><i class="fas fa-play"></i></button>
            </div>
            <img
              class="thumbnail"
              [src]="game.background_image"
              alt="Game Screenshot"
            />
            <img class="thumbnail" [src]="game.image1" alt="Game Screenshot" />
            <img class="thumbnail" [src]="game.image2" alt="Game Screenshot" />
          </div>
        </div>
        <div class="right">
          <div class="image">
            <img [src]="game.main_image" alt="Game Image" />
          </div>
          <div class="description">
            <p>{{ game.description }}</p>
          </div>
          <div class="info-container">
            <div class="header">Classification:</div>
            <div class="info">{{ game.general_classification }}</div>
          </div>
          <div class="info-container">
            <div class="header">Platform:</div>
            <div class="info">{{ game.platform }}</div>
          </div>
          <div class="info-container">
            <div class="header">Language(s):</div>
            <div class="info">{{ game.language }}</div>
          </div>
        </div>
      </div>
      <div class="lists">
        <div class="text-lists">Poderá adiconar este item a uma lista</div>
        <div class="wishlist">
          <button (click)="addToWishlist()" class="wishlist-button">
            <span>+ Wishlist</span>
          </button>
        </div>
      </div>
      <div class="space"></div>
      <div class="buy-section">
        <div class="buy-card">
          <span class="title-buy">Comprar</span>
          <span class="item-name">{{ game.name }}</span>
          <div class="buy-button">
            <div class="buy-price">
              <p>{{ game.price }}€</p>
            </div>
            <div class="add-to-cart-btn">
              <button (click)="addToUserCart()">+ Cart</button>
            </div>
          </div>
        </div>
      </div>
      <div class="space"></div>
      <div class="evaluations">
        <div class="evaluations-header">
          <h2>Evaluations</h2>
        </div>
        <div class="evaluations-stars">
          <div class="star-wrapper">
            <a class="fas fa-star s1" (click)="rateGame(5)"></a>
            <a class="fas fa-star s2" (click)="rateGame(4)"></a>
            <a class="fas fa-star s3" (click)="rateGame(3)"></a>
            <a class="fas fa-star s4" (click)="rateGame(2)"></a>
            <a class="fas fa-star s5" (click)="rateGame(1)"></a>
          </div>
          <span class="rating-label">Rate this game:</span>
          <span class="selected-rating">{{ selectedRating }}</span>
        </div>
        <div class="commentary">
          <textarea
            [(ngModel)]="comment"
            placeholder="Leave a commentary (5000 characters max)"
            maxlength="5000"
          ></textarea>
          <button class="comment-button" (click)="submitComment()">
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
