<app-sidebar></app-sidebar>

<div class="wrapper" style="--bg-image: url('{{ game.background_image }}')">
  <div class="main-container">
    <div class="center">
      <div class="game-name">
        <h1>{{ game.name }}</h1>
      </div>
      <div class="content">
        <div class="left">
          <div class="big-screen">
            <div class="content-container">
              <ng-container *ngIf="videoActive; else imageContent">
                <iframe width="560" height="315" [src]="activeVideoSrc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              </ng-container>
              <ng-template #imageContent>
                <img [src]="activeImageSrc" alt="Game Screenshot" />
              </ng-template>
            </div>
            <button class="arrow-button next">
              <i class="fas fa-chevron-right"></i>
            </button>
          </div>
          <div class="thumbnail-container">
            <div class="video-container">
              <img
                class="thumbnail"
                [src]="game.main_image"
                alt="Game Trailer"
                [class.active]="videoActive"
              />
              <button class="play-button"><i class="fas fa-play"></i></button>
            </div>
            <img class="thumbnail" [src]="game.background_image" alt="Game Screenshot" (click)="selectImage(0)" />
            <img class="thumbnail" [src]="game.image1" alt="Game Screenshot" (click)="selectImage(1)" />
            <img class="thumbnail" [src]="game.image2" alt="Game Screenshot" (click)="selectImage(2)" />
          </div>
        </div>
        <div class="right">
          <div class="image">
            <img [src]="game.main_image" alt="Game Image" />
          </div>
          <div class="description">
            <p>{{ game.description }}</p>
          </div>
          <div class="info-container">
            <div class="header">Classification:</div>
            <div class="info">{{ game.general_classification }}</div>
          </div>
          <div class="info-container">
            <div class="header">Platform:</div>
            <div class="info">{{ game.platform }}</div>
          </div>
          <div class="info-container">
            <div class="header">Language(s):</div>
            <div class="info">{{ game.language }}</div>
          </div>
        </div>
      </div>
      <div class="lists">
        <div class="text-lists">Poderá adiconar este item a uma lista</div>
        <div class="wishlist">
          <button (click)="addToWishlist()" class="wishlist-button">
            <span>+ Wishlist</span>
          </button>
        </div>
      </div>
      <div class="space"></div>
      <div class="buy-section">
        <div class="buy-card">
          <span class="title-buy">Comprar</span>
          <span class="item-name">{{ game.name }}</span>
          <div class="buy-button">
            <div class="buy-price">
              <p>{{ game.price }}€</p>
            </div>
            <div class="add-to-cart-btn">
              <button (click)="addToUserCart()">+ Cart</button>
            </div>
          </div>
        </div>
      </div>
      <div class="space"></div>
      <div class="evaluations"></div>
    </div>
  </div>
</div>
