<app-sidebar></app-sidebar>
<div class="wrapper">
  <div class="profile">Profile</div>
  <div id="sides">
    <div class="side" id="left">
      <div class="card-header">
        <a (click)="setActiveLinkIndex(0)">Library</a>
        <a (click)="setActiveLinkIndex(1)">Lists</a>
        <a (click)="setActiveLinkIndex(2)">Social</a>
      </div>
      <div class="card-body">
        <div *ngIf="0 === activeLinkIndex" class="card-content">
          <ul class="library-list">
            <span *ngIf="user.items.length === 0">You don't own any items</span>
            <li *ngFor="let item of user.items" class="library-item">
              <div class="game-card">
                <img
                  [src]="item.image"
                  alt="Game image"
                  (click)="goToGamePage(item.id)"
                />
                <h3 (click)="goToGamePage(item.id)" class="title">
                  {{ item.name }}
                </h3>
                <p>{{ item.type }}</p>
                <p><span class="acquired">Acquired:</span> {{ getDate(1) }}</p>
                <button *ngIf="item.type === 'Game'; else not_game">
                  PLAY
                </button>
                <ng-template #not_game
                  ><button (click)="goToGamePage(item.id)">
                    VIEW
                  </button></ng-template
                >
              </div>
            </li>
          </ul>
        </div>
        <div *ngIf="1 === activeLinkIndex" class="card-content">
          <ul>
            Wishlist:
            <span *ngIf="lists.length === 0">No items in the wishlist</span>
            <li *ngFor="let list of lists" id="list">
              <span class="clickable-text" (click)="goToGamePage(list.id)">{{
                list.name
              }}</span>
            </li>
          </ul>
        </div>
        <div *ngIf="2 === activeLinkIndex" class="card-content">
          <div class="card-body">
            <div class="card-head">Followers:</div>
            <ul>
              <li *ngFor="let fol of user.followers">
                <a>
                  {{ fol }}
                </a>
              </li>
              <li *ngIf="user.following.length === 0">No followers</li>
            </ul>
            <div class="card-head">Following:</div>
            <ul>
              <li *ngFor="let fol of user.following">
                <a>
                  {{ fol }}
                </a>
              </li>
              <li *ngIf="user.following.length === 0">No followers</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="side" id="right">
      <div class="card">
        <div class="banner">
          <img class="profile-pic" [src]="user.avatar" />
        </div>
        <div class="menu">
          <div class="opener"><span></span><span></span><span></span></div>
        </div>
        <h2 class="name">{{ user.displayName }}</h2>
        <h6 class="username">{{ username }}</h6>
        <div class="actions">
          <div class="follow-info">
            <h2>
              <a
                ><span>{{ user.followers.length }}</span
                ><small>Followers</small></a
              >
            </h2>
            <h2>
              <a
                ><span>{{ user.following.length }}</span
                ><small>Following</small></a
              >
            </h2>
          </div>
          <div class="follow-btn">
            <button onclick="window.location.href='/perfil/edit-profile';">
              Edit Profile
            </button>
          </div>
        </div>
        <div class="desc">Bio</div>
      </div>
    </div>
  </div>
</div>
