<app-sidebar></app-sidebar>
<div class="wrapper">
  <div class="profile">Profile</div>
  <div id="sides">
    <div class="side" id="left">
      <div class="card-header">
        <a
          *ngFor="let link of links; let i = index"
          [ngClass]="{ active: i === activeLinkIndex }"
          (click)="setActiveLinkIndex(i)"
          >{{ link.text }}</a
        >
      </div>
      <div class="card-body">
        <ng-container *ngFor="let content of contents; let i = index">
          <div *ngIf="i === activeLinkIndex" class="card-content">
            {{ content.text }}
          </div>
        </ng-container>
      </div>
    </div>
    <div class="side" id="right">
      <div class="card">
        <div class="banner"><img class="profile-pic" /></div>
        <div class="menu">
          <div class="opener"><span></span><span></span><span></span></div>
        </div>
        <h2 class="name">{{ username }}</h2>
        <div class="actions">
          <div class="follow-info">
            <h2>
              <a
                ><span>{{ user.followers.length }}</span
                ><small>Followers</small></a
              >
            </h2>
            <h2>
              <a><span>{{user.following.length}}</span><small>Following</small></a>
            </h2>
          </div>
          <div class="follow-btn"><button>Edit Profile</button></div>
        </div>
        <div class="desc">Bio</div>
      </div>
    </div>
  </div>
</div>
