<app-sidebar></app-sidebar>
<h1>Dashboard</h1>
<div class="card">
    <div class="card-head">Lorem ipsum - dashboard</div>
    <div class="card-body">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas ducimus soluta, quasi aut ipsa non, ullam enim rem repudiandae, vitae provident animi. Inventore rerum, voluptas optio dignissimos blanditiis modi illo!
    </div>
    <!-- list of blocks -->
    <div class="blocks-div">
      <div class="card" id="listas">
        <div style="margin: 0">
          <div class="card-ident">
            <h3 class="card-title">Listas</h3>
            <div>
              <ul>
                <li *ngFor="let list of lists">
                  <a>
                    {{ list }}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-ident">
          <h3 class="card-title">Biblioteca de itens</h3>
          <ul>
            <li *ngFor="let item of items">
              <a>
                {{ item }}
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-ident">
          <h3 class="card-title">A Seguir</h3>
          <ul>
            <li *ngFor="let fol of following">
              <a>
                {{ fol }}
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-ident">
          <h3 class="card-title">Seguidores</h3>
          <ul>
            <li *ngFor="let fol of followers">
              <a>
                {{ fol }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>
