<app-sidebar></app-sidebar>
<div class="wrapper">
  <div class="profile">Dashboard</div>
  <div class="dashboard">
    <div class="card" id="listas">
      <div class="card-head">Listas</div>
      <div class="card-body">
        <ul>
          Wishlist:
          <li *ngFor="let list of lists" id="list">
            <p>&emsp;{{ list }}</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="card" id="followers">
      <div class="card-head">Followers</div>
      <div class="card-body">
        <ul>
          <li *ngFor="let fol of followers">
            <a>
              {{ fol }}
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="card" id="following">
      <div class="card-head">Following</div>
      <div class="card-body">
        <ul>
          <li *ngFor="let fol of following">
            <a>
              {{ fol }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="separator"></div>
  <div class="card" id="library">
    <div class="card-head">Library</div>
    <div class="card-body">
      <ul>
        <li *ngFor="let item of games">
          <a>
            {{ item }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
